<!DOCTYPE html>

<html>
  <head>
    <title>{{ session["user"] }} Homepage</title>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for("static", filename = "css/complaints.css")}}">
  </head>

  <body>
    <p>You're logged in as {{ session["user"] }}. <a href = "/signout">(Sign Out)</a><br>
      <!-- <a href = "/user/account-info">Change account information</a> --></p>
    {% for row in data %}
    <div id="forum-post">
      {% if row[4] == False %}
      <article style = "background-color:#E74C3C">
        <footer>
          <div id = "flat_{{row[0]}}">
            <h4>{{row[0]}}</h4>
          </div>
          <div id = "comment_time">
            <h6>{{row[3]}}</h6>
          </div>
        </footer>

        <div id = "{{row[0]}}_comment">
          <p>
            {{row[2]}}
          </p>
        </div>
      </article>

      {% else %}
      <article style = "background-color:#27CC71">
        <footer>
          <div id = "flat_{{row[0]}}">
            <h4>{{row[0]}}</h4>
          </div>
          <div id = "comment_time">
            <h6>{{row[3]}}</h6>
          </div>
        </footer>

        <div id = "{{row[0]}}_comment">
          <p>
            {{row[2]}}
          </p>
        </div>
      </article>


      {% endif %}
      <br>
    </div>
    {% endfor %}

  </body>

</html>
