<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--To use on a touchscreen-->
    <script src="https://code.jquery.com/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for("static", filename = "css/login.css")}}">
    <title>AL | Login</title>
  </head>

  <body>
    <!--For navigation links-->
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">


        <!--Small screen size-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar-menu" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <a class="navbar-brand" href="/">
            <h4>AL</h4>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="topbar-menu">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" class = "about"><a href="/about" class="about"><h4>About</h4></a></li>
            <li role="presentation" class = "announcements" ><a href="/announcements" class="announcements"><h4>Announcements</h4></a></li>

            {% if "user" in session %}
            <li role="presentation" class = "complaints"><a href = "/user" class = "complaints"><h4>Complaints</h4></a></li>

            <li role = "presentation" class = "signin">
              <h4 class ="navbar-right"><small>
                <ul class="list-inline">
                  <li>You're signed in as <b>{{session["user"]}}</b></li>
                  <li class="dropdown" class="signin">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/user">Your Profile</a></li>
                      <li><a href="/user/account-info">Change password</a></li>
                    </ul>
                  </li>
                  <li>(<a href = "/signout" class="signout">Sign out</a>)</li>
                </ul>
              </small></h4>
            </li>

            {% else %}
            <li role="presentation" class = "complaints"><a href = "/login" class = "complaints"><h4>Complaints</h4></a></li>

            <li role="presentation" class="signin">
              <h4 class ="navbar-right"><small>You're not signed in. (<b><a href = "/login" class="signin">Sign In</a></b>)</small></h4>
            </li>

            {% endif %}
          </ul>
        </div>

      </nav>
    </div>

    <div class="container">
      <div class = "jumbotron">

        <div id = "login_form">
          <form method="post" action="/login">
            <fieldset>

              <legend>Please enter you login details</legend>
              <div class = "form-group">
                <label for ="username">
                  Username
                  <input type="text" class = "form-control" id="username" name="username" placeholder = "Flat No." autofocus required="required" />
                </label>
              </div>

              <div class = "form-group">
                <label for = "password">
                  Password
                  <input type="password" class = "form-control" id="password" name="password" placeholder = "Password" required="required" />
                </label>
              </div>

              <button type="submit" class="btn btn-default">Sign In</button>
            </fieldset>
          </form>
        </div>
        <br>
        <a href="/forgotten-password">Forgotten password?</a>

      </div>
    </div>
  </body>
</html>
