<!DOCTYPE html>
<html>
  <head>
    <title>Complaint registered</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styles.css")}}">
  </head>

  <body>
    {% if data %}
    <h3>Your complaint has been registered.</h3>
    <p>
      Complaint summary:<br>
      <table>
        <tr>
          <th>Flat No</th>
          <th>Complaint</th>
          <!-- <th>Created at</th> -->
        </tr>

        <tr>
          <td>{{data.flat}}</td>
          <td>{{data.comment}}</td>
          <!-- <td>{{data}} -->
        </tr>
      </table>


      <!-- <h4>We'll be in touch shortly {{data.name}}, please check your email {{data.email}}</h4> -->
    </p>
    {% else %}
    <h4>Sorry, no data found!</h4>
    {% endif %}
  </body>

</html>
